@model List<mid_project.Models.Database.Post>
@{
    ViewBag.Title = "AllPost";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
@*post con*@

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3" style=" margin-left:350px;">

            <center>
                <div>
                    @if (TempData["error"] != null)
                    {
                        <span class="text-danger">@TempData["error"]</span>
                    }
                    <form class="md-form" action="/Post/Add" method="POST" enctype="multipart/form-data">
                        @*<input type="text" placeholder="Enter text here..." name="Status" value="" class="form-control" style="width:300px; height:100px" />*@
                        <textarea rows="4" cols="50" name="User_Post" placeholder="Enter text here..." style=" width:350px;"></textarea>
                        <input type="file" placeholder="Image" name="ImageFile" value="" /> <br />
                        <input type="submit" value="Publish" class="btn btn-primary" />
                    </form>
                </div>
            </center>

            <br />
            <br />
            <div style=" border: 1px solid #ccc; margin: 5px; ">
                @foreach (var p in Model)
                {
                    foreach (var u in p.User.Employees)
                    {
                        <div style="text-align: center;">
                            <h4><img src="@Url.Content(u.Image)" width="40" height="40" class="img-circle" /> <span style="color: #63639d; ">@u.Name </span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 15px; "> @p.Date.ToString("dd MMM yyyy hh:mm tt") </span><a class="btn btn-danger" style="margin-left: 160px;" href="/Post/Delete/@p.Id"><i class="bi bi-x-lg"></i></a></h4>

                        </div>
                    }
                    foreach (var a in p.User.Admins)
                    {
                        <div style="text-align: center;">
                            <h4><img src="@Url.Content(a.Image)" width="40" height="40" class="img-circle" /> <span style="color: #63639d; ">@a.Name </span> &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 15px; "> @p.Date.ToString("dd MMM yyyy hh:mm tt") </span><a class="btn btn-danger" style="margin-left: 160px;" href="/Post/Delete/@p.Id"><i class="bi bi-x-lg"></i></a></h4>

                        </div>
                    }
                    <div>
                        @if (p.User_Post != null)
                        {
                            <div style="margin-left:20px;">@p.User_Post</div>
                        }


                        @if (p.Image != null)
                        {
                            <div style="text-align: center;">
                                <img src="@Url.Content(p.Image)" width="500" height="440" />
                            </div>
                        }
                        <br />

                        @**@
                        @**@
                        @{
                            int countLike = 0;
                            int countDislike = 0;
                            var react = "null";
                            int reactId = 0;
                            foreach (var r in p.Reacts)
                            {
                                if (r.User_React == "Like")
                                {
                                    countLike++;
                                }
                                else if (r.User_React == "Dislike")
                                {
                                    countDislike++;
                                }

                                if (r.User_id.Equals(Session["Id"]))
                                {
                                    react = r.User_React;
                                    reactId = r.Id;
                                }
                            }

                            if (react != "null")
                            {
                                if (react == "Like")
                                {
                                    <form action="/Post/ReactAlreadyAdd" method="POST" style='display: inline-block; margin-left: 20px;'>
                                        <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                        <input type="hidden" placeholder="Id" name="R_Id" value="@reactId" class="form-control" />
                                        <input type="submit" value="Like @countLike" class="btn btn-primary" />
                                    </form>
                                    <form action="/Post/DisLikeReactAdd" method="POST" style='display: inline-block; margin-left: 10px; '>
                                        <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                        <input type="hidden" placeholder="Id" name="R_Id" value="@reactId" class="form-control" />
                                        <input type="submit" value="Dislike @countDislike" class="btn btn-light" />
                                    </form>
                                }
                                else if (react == "Dislike")
                                {
                                    <form action="/Post/LikeReactAdd" method="POST" style='display: inline-block; margin-left: 20px;'>
                                        <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                        <input type="hidden" placeholder="Id" name="R_Id" value="@reactId" class="form-control" />
                                        <input type="submit" value="Like @countLike" class="btn btn-light" />
                                    </form>
                                    <form action="/Post/ReactAlreadyAdd" method="POST" style='display: inline-block; margin-left: 10px;'>
                                        <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                        <input type="hidden" placeholder="Id" name="R_Id" value="@reactId" class="form-control" />
                                        <input type="submit" value="Dislike @countDislike" class="btn btn-primary" />
                                    </form>
                                }
                            }
                            else
                            {
                                <form action="/Post/LikeReactAdd" method="POST" style='display: inline-block; margin-left: 20px;'>
                                    <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                    <input type="submit" value="Like @countLike" class="btn btn-light" />
                                </form>
                                <form action="/Post/DisLikeReactAdd" method="POST" style='display: inline-block; margin-left: 10px;'>
                                    <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                                    <input type="submit" value="Dislike @countDislike" class="btn btn-light" />
                                </form>
                            }

                        }
                    </div>

                    @*<br />*@
                    <div>
                        @foreach (var c in p.Comments)
                        {
                        <div style="font-size: 20px; margin-left: 30px; padding-top: 20px;">
                            @foreach (var e in c.User.Employees)
                            {
                                <img src="@Url.Content(e.Image)" width="40" height="40" class="img-circle" /> <span style="color: #63639d; ">@e.Name </span>

                            }
                            @foreach (var a in c.User.Admins)
                            {
                            <img src="@Url.Content(a.Image)" width="40" height="40" class="img-circle" span style="margin-left: 50px; " /> <span style="color: #63639d; ">@a.Name </span>

                            }
                            <br />
                            <span>@c.Cmnt</span>
                            <span style="font-size: 10px;">@c.Date.ToString("dd MMM yyyy hh:mm tt")</span>
                            <a class="btn btn-light" style="margin-left: 10px; color: red;" href="/Post/CommentDelete/@c.Id"><i class="bi bi-x-lg"></i></a>
                        </div>
                            <form action="/Post/ReplyAdd" method="POST">
                                <div style="margin-left:15px; padding-top:5px;">
                                    @foreach (var r in c.Replies)
                                    {
                                        foreach (var e in r.User.Employees)
                                        {
                                            <img src="@Url.Content(e.Image)" width="40" height="40" class="img-circle" span style="margin-left: 55px; " /> <span style="color: #63639d; ">@e.Name </span>

                                        }
                                        foreach (var a in r.User.Admins)
                                        {
                                            <img src="@Url.Content(a.Image)" width="40" height="40" class="img-circle" span style="margin-left: 55px; " /> <span style="color: #63639d; ">@a.Name </span>

                                        }
                                        <br />
                                        <div style="font-size: 20px; margin-left: 60px;">
                                            <span>@r.Reply_Cmnt</span>
                                            <span style="font-size: 10px;">@r.Date.ToString("dd MMM yyyy hh:mm tt")</span>
                                            <a class="btn btn-light" style="margin-left: 10px; color: red;" href="/Post/ReplyDelete/@r.Id"><i class="bi bi-x-lg"></i></a>
                                        </div>
                                    }
                                    <input type="hidden" placeholder="Id" name="C_Id" value="@c.Id" class="form-control" />
                                    <input style="font-size: 20px; margin-left: 60px;" placeholder="Reply comment" name="reply_comment" type="text" />
                                    <input type="submit" value="Reply" class="btn btn-primary" />
                                </div>
                            </form>

                        }
                        <br />
                        <form action="/Post/CommentAdd" method="POST">
                            <input type="hidden" placeholder="Id" name="P_Id" value="@p.Id" class="form-control" />
                            <input style="font-size: 20px; margin-left: 30px;" placeholder="New comment" name="new_comment" type="text" />
                            <input type="submit" value="Comment" class="btn btn-primary" />
                        </form>

                    </div>


                    <br />
                    <br />
                    <hr style="background-color: #ccc; height: 1px; "/>
                }

            </div>
            
        </div>
    </div>

</div>